In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
from helper_functions import *

In [7]:
hg02 = read_tsv("./data_files/HG002_copynumber_variants.tsv")
hg02

,CHROMOSOME_NAME,START_POSITION,END_POSITION,REFERENCE,ALTERNATE,REFERECE_READS,ALTERNATE_READS
0,chr1,10615,10637,2,1,NaN,NaN
1,chr1,54711,54712,2,3,NaN,NaN
2,chr1,724860,724861,2,3,NaN,NaN
3,chr1,756258,756259,2,3,NaN,NaN
4,chr1,757806,757842,2,0,NaN,NaN
...,...,...,...,...,...,...,...
51222,chr9,140912459,140913570,2,1,NaN,NaN
51223,chr9,141019497,141033683,2,1,NaN,NaN
51224,chr9,141039646,141039647,2,3,NaN,NaN
51225,chr9,141069955,141069956,2,3,NaN,NaN
51226,chr9,141094010,141094011,2,3,NaN,NaN